@import "~bulma";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

body {
  min-height: 100vh;

  background-color: #f7f7f7;

  font-family: 'Noto Sans', sans-serif;
}
